# Core
fastapi
uvicorn[standard]

# Document processing
python-dotenv
qdrant-client[fastembed]
openai
pymupdf
python-pptx
python-docx
pillow
pydantic
python-multipart
pdfplumber
pytesseract
pdf2image
PyPDF2

# Additional utilities
psutil
